@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 55%);
  --verydarkgray: hsl(0, 0%, 41%);
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Alata", sans-serif;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  background-image: url(../images/desktop/image-hero.jpg);
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  height: 100vh;
}

.container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header {
  width: 100%;
  height: 100px;
}

.menu {
  height: 100px;
  position: relative;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.nav {
  display: flex;
  height: 60px;
  width: 350px;
  align-items: center;
  justify-content: space-between;
  margin-left: 260px;
}

.nav span {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
}

.main {
  box-sizing: border-box;
  width: 650px;
  height: 250px;
  position: relative;
  top: 19%;
  left: 10%;
  border: 2px solid var(--white);
  padding: 0px 60px;
}

.main-text {
  color: var(--white);
  font-size: 68px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 30px;
}

.section {
  width: 1000px;
  height: 400px;
  display: flex;
  margin: 140px 135px 160px;
}

.articles-image {
  width: 100%;
  height: 100%;
}

.articles-text {
  width: 600px;
  height: 350px;
  background: var(--white);
  margin-top: -200px;
  margin-left: 570px;
  position: relative;
  padding: 40px 75px;
}

.articles-text h2 {
  color: var(--black);
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.articles-text p {
  color: var(--verydarkgray);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 135px;
}

.flex h2 {
  color: var(--black);
  font-family: "Josefin Sans", sans-serif;
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
}

.flex button {
  color: var(--black);
  width: 130px;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(--white);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 0 135px;
}
